.page {
  background-color: black;
  color: white;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .page__section {
    max-width: 800px;
  }
}

@media screen and (max-width: 620px) {
  .page__section {
    max-width: 282px;
    padding: 0;
    margin: auto auto;
  }
}
